<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Simple Chat</title>
    </head>
    <body>
        <h1>Simple Chat</h1>
        <h2>Chat Room</h2>

        <footer>
            <form action="/chat" method="post">
                <div>
                    <div>
                        <input
                            type="text"
                            name="message"
                            id="message"
                            placeholder="Enter your message here..."
                        />
                    </div>
                    <div>
                        <input type="button" value="Send Message" />
                    </div>
                </div>
            </form>
        </footer>
    </body>
</html>
