<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Simple Chat</title>
    </head>
    <body>
        <h1>Simple Chat</h1>
        <h2>Chat Room</h2>

        <main>
            <ul>
                {{range .}}
                <li>{{.From}}: {{.Message}}</li>
                {{end}}
            </ul>
        </main>
        <footer>
            <form action="/room/message" method="POST">
                <div>
                    <div>
                        <input
                            type="text"
                            name="to"
                            id="to"
                            placeholder="Barney"
                        />
                        <input
                            type="text"
                            name="message"
                            id="message"
                            placeholder="Enter your message here..."
                        />
                    </div>
                    <div>
                        <input type="submit" value="Send Message" />
                    </div>
                </div>
            </form>
        </footer>
        <div>
            <h2><a href="/logout">log out</a></h2>
        </div>
    </body>
</html>
